{% extends "base.html" %}

{% block p-title %}
    <h1>Category List</h1>
{% endblock p-title %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'category-create' %}" role="button"> Create Category</a>
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td> {{item.name}} </td>
                    <td>{{item.user}} - <img src=" {{ item.user.profile.image.url }} " class="rounded" width="50" height="50"></td>
                    <td>
                        <a href="{% url 'category-update' item.id %}">Update</a>
                        <a href="{% url 'category-delete' item.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}