{% extends "base.html" %}

{% block p-title %}
    <h1>Category List</h1>
{% endblock p-title %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'category-create' %}" role="button"> Create Category</a>
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td> {{item.name}} </td>
                    <td>{{item.user}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}